html, body {
  min-height: 100%;
}
body {
  background-color: #000;
  background-image: -webkit-linear-gradient(top, #000 0%, #111 100%);
  background-image:    -moz-linear-gradient(top, #000 0%, #111 100%);
  background-image:      -o-linear-gradient(top, #000 0%, #111 100%);
  background-image:         linear-gradient(top, #000 0%, #111 100%);
  color: #fff;
}