{% extends "base.twig" %}
{% block content %}
<h2>About Us</h2>
<p>
  This project was developed in response to YourAnonNews raising nearly 55 thousand
  dollars in crowdfunded donations to develop a website, and then not delivering
  anything after over six months.
</p>
<h2>About Anonymous</h2>
<p>
  Nope. Not making it that easy for you. :P
</p>
{% endblock %}