<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {{ page_title|default('Untitled') }} {% endblock %}</title>
    <link rel="stylesheet" href="{{ "static/css/base.css"|cachebust }}" type="text/css" />
    {% block extra_css %}{% endblock %}
    <script src="{{ "static/js/jquery.js"|cachebust }}"></script>
    {% block extra_js %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/op/">Ops</a></li>
          <li><a href="/articles/">Articles</a></li>
          <li><a href="/bbs/">Message Board</a></li>
          <li><a href="/media/">Media</a></li>
        </ul>
        <ul class="pull-right">
          {% if user.is_authenticated %}
          <li><a href="/manage/">Control Panel</a></li>
          <li><a href="/manage/persona">{{ user.active_persona }}</a></li>
          {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/sign-up">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>